/* .header-color{
  background: #0f0c29;
  background: -webkit-linear-gradient(to right, #24243e, #302b63, #0f0c29);
  background: linear-gradient(to right, #24243e, #302b63, #0f0c29);

}

.landing-grid{
  background: #0f0c29;
  background: -webkit-linear-gradient(to right, #24243e, #302b63, #0f0c29);
  background: linear-gradient(to right, #24243e, #302b63, #0f0c29);
  text-align: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.mhamza-img{
  height: 280px;
  padding-top: 5em;
}

.banner-text{
  background-color: black;
  opacity: 60%;
  width: 60%;
  margin: auto;
  border-radius: 15px;
}

.banner-text h1{
  font-size: 40px;
  font-weight: bold;
  color: white;
}

.banner-text hr{
  border-top: 5px dotted white;
  width: 70%;
  margin: auto;
}

.banner-text p{
  color: white;
  font-size: 20px;
  padding: 1em;
}

.social-links{
  display: flex;
  justify-content: space-between;
  width: 50%;
  margin: auto;
}

.social-links i{
  color: white;
  font-size: 5em;
  padding: 10px;
} */

html {
  background: url("../res/darkwood.jpg") no-repeat center center fixed;
  background-size: cover;
}

.navigation{
  text-align: center;
  padding: 1em;
}

.navLink{
  color: white;
  width: 50%;
  letter-spacing: 0.2em;
  text-decoration: none;
  padding: 3em;
}

.line{
  border: 0;
  height: 1px;
  background: linear-gradient(to right, rgb(0, 0, 0), rgb(255, 255, 255), rgb(0, 0, 0));
  background: -moz-linear-gradient(to right, rgb(0, 0, 0), rgb(255, 255, 255), rgb(0, 0, 0));
}
