.projects-content{
  text-align: center;
  color: white;
}

.projects-content h4{
  text-align: left;
  width: 50%;
  margin: auto;
  color: white;
}

.csa-project-background{
  background-color: white;
  width: 50%;
  margin: auto;
  border-radius: 7px;
}

.csa-project{
  color: black;
  font-weight: bold;
  text-align: left;
  padding: 5px;
  width: 100%;
}
