.resume-content{
    text-align: center;
    color: white;
}

.resume-content h4{
  font-weight: bold;
  text-align: left;
  margin: auto;
  width: 60%;
  padding-top: 30px;
}

.download-link{
  background-color: white;
  transition-duration: 0.5s;
  border-radius: 5px;
  padding: 0.3em;
  opacity: 50%;
  width: 15%;
  margin: auto;
}

.download-link:hover{
  opacity: 80%;
}

.download-link a{
  color: black;
  text-decoration: none;
  font-size: 14px;
}

.download-link i{
  font-size: 25px;
}

.uleth-background{
  background-color: white;
  width: 60%;
  opacity: 60%;
  margin: auto;
  border-radius: 7px;
}

.uleth {
  color: black;
  font-weight: bold;
  text-align: left;
  padding: 5px;
  width: 100%;
}


.sait-background{
  background-color: white;
  width: 60%;
  opacity: 60%;
  margin: auto;
  border-radius: 7px;
}

.sait {
  color: black;
  font-weight: bold;
  text-align: left;
  padding: 5px;
  width: 100%;
}

.skills-background{
  background-color: white;
  width: 60%;
  opacity: 60%;
  margin: auto;
  border-radius: 7px;
}

.col table{
  height: 70%;
  width: 100%;
  color: black;
}

.col td{
  color: black;
  text-align: left;
}

.csa-background{
  background-color: white;
  width: 60%;
  opacity: 60%;
  margin: auto;
  border-radius: 7px;
}

.csa {
  color: black;
  font-weight: bold;
  text-align: left;
  padding: 5px;
  width: 100%;
}

.bb-background{
  background-color: white;
  width: 60%;
  opacity: 60%;
  margin: auto;
  border-radius: 7px;
}

.bb {
  color: black;
  font-weight: bold;
  text-align: left;
  padding: 5px;
  width: 100%;
}

.ap-background{
  background-color: white;
  width: 60%;
  opacity: 60%;
  margin: auto;
  border-radius: 7px;
}

.ap {
  color: black;
  font-weight: bold;
  text-align: left;
  padding: 5px;
  width: 100%;
}
